@charset 'UTF-8';
@import '../_shared/mixin.scss';
@import '../_shared/reset.scss';
@import '../_shared/global.scss';

html, body {
	height: 100%;
}

.dimmed {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
}

.layer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	font-size: 0;
	white-space: nowrap;
	&:after {
		content:'';
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

.inner_layer {
	display: inline-block;
	position: relative;
	min-width: 200px;
	max-width: 80%;
	max-height: 80%;
	padding: 30px 0;
	font-size: initial;
	background-color: #fff;
	text-align: initial;
	vertical-align: middle;
	white-space: normal;
}

.layer_head {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 30px;
	background-color: pink;
}
.layer_body {
	overflow-y: auto;
	min-height: 100px;
	max-height: 100%;
}
.layer_foot {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 30px;
	background-color: skyblue;
}