@charset 'UTF-8';

@import '../_shared/mixin.scss';
@import '../_shared/reset.scss';

.parent {
	background-color: pink;
	height: 400px;
	padding: 20px 10px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}
.child {
	padding: 0 10px;
	flex: 1 0 33.33%;
	border: 1px solid red;
	box-sizing: border-box;
}