@charset "utf-8";
@import "_reset.scss";
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
}

button {
	padding: 8px;
	border: 1px solid #eaeaea;
	&:disabled {
		background-color: #dddddd;
		cursor: no-drop;
	}
}