@charset "UTF-8";

@import '../_shared/mixin.scss';
@import '../_shared/reset.scss';
body {
	background-color: rgba(darksalmon, 0.2);
	// -webkit-user-select:  none;
	// -webkit-touch-callout: none;
}

#container {
	margin: 0 auto;
}

.container_index {
	padding: 10px;
}

.group_tabs {
	display: table;
	width: 100%;
	table-layout: fixed;

	.btn_tab {
		display: table-cell;
		width: 33.33%;
		height: 50px;
		border: 1px solid #eaeaea;
		vertical-align: middle;
		text-align: center;
		font-size: 16px;
		color: #aaa;
		&.on {
			background-color: darkslategray;
			font-weight: 500;
			color: #fff;
		}
	}	
}

.tab_content {
	display: none;
	min-height: 100px;
	max-height: 400px;
	padding: 20px;
	border: 1px solid #dedede;
	background-color: papayawhip;
	box-sizing: border-box;
	&.visible {
		display: block;
	}
	.img_g {
		display: block;
		height: 100%;
		margin: 0 auto;
	}
}

.pagenation {
	padding-top: 10px;
	text-align: center;
	%btn {
		width: 36px;
		height: 36px;
		border: 1px solid darkslategray;
		font-weight: 700;
		font-size: 24px;
		color: darkslategray;
		&:disabled,
		&.disabled {
			background-color: #eaeaea;
			opacity: 0.4;
			cursor: no-drop;
		}
	}
	.btn_prev {
		@extend %btn;
	}
	.btn_next {
		@extend %btn;
	}
}

/*  마구 추가 한 */
.group_test {
	padding-top: 10px;
	
	&.group_btn {
		display: flex;
		flex: 1 1 auto;
		flex-wrap: wrap;
	}

	&.border_top {
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px solid seagreen;
	}

	.link_test {
		text-decoration: underline;
	}

	.longtouch_disabled {
		-webkit-user-select:  none;
		-webkit-touch-callout: none;
	}
	
	.btn_test {
		padding: 10px;
		margin: 5px;
		border: 1px solid seagreen;
		border-radius: 2px;
		font-weight: bold;
		color: darkgreen;
	}
}

.container_secondary {
	background-color: aliceblue;
	.floating_bottom {
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		display: flex;
		[class^="btn"] {
			flex: 1 1 auto;
			height: 50px;
		}
		.btn_confirm {
			color: #fff;
			background-color: darkblue;
		}
		.btn_cancel {
			color: red;
			background-color: #dedede;
		}
	}
}

.container_login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	h1 {
		text-align: center;
	}
	label {
		display: block;
	}
	input {
		width: 100%;
		padding: 10px 20px;
		background-color: #eaeaea;
		box-sizing: border-box;
	}
	.btn_large {
		display: block;
		width: 100%;
		margin-top: 20px;
		padding: 16px 20px;
		background-color: yellow;
	}
}